<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

<body>
    <h1> You Can Add or Remove Items From This List:) </h1>
    <script>
        var app = angular.module("GroceryList", []);
        app.controller("Ctrl",function($scope){
            $scope.products = ["Snacks", "Jasmine Rice", "Boneless Skinless Chicken Thighs"];
            
            $scope.addItem = function(){
                $scope.errortext = "";
                if (!$scope.addMe) {return;}
                if ($scope.products.indexOf($scope.addMe) == -1){
                    $scope.products.push($scope.addMe);
                } else{
                    $scope.errortext = " Item Already Exist";
                }
            };
            $scope.removeItem = function(x){
                $scope.errortext = "";
                $scope.products.splice(x,1);
            };
        });
    </script>
    
    <div ng-app="GroceryList" ng-controller="Ctrl">
        <ul class="items">
            <li ng-repeat="x in products">
                <p> {{x}} </p>
                <span ng-click="removeItem($index)">&times;</span>
            </li>
        </ul>
        <input placeholder="Enter the Items to be Added" ng-model="addMe" class="addMe">
        <button class="but" ng-click="addItem()"> Add To List </button>
          <p class="error">{{errortext}}</p>
    </div>
    
</body>

<style type="text/css">
    h1{
        text-align:center;
    }
    .addMe{
        background-color: #F5F5DC;
    }
    .error{
        color:red;
        font-family:"Serif";
    }
    .items{
        text-align:center;
        color:	#0000FF;
        font-style: italic;
    }
    .but{
        
         justify-content: center; 
         background-color:green;
    }
</style>
</html>

